@model IEnumerable<BarApp.Models.Pedido>

@{
    ViewData["Title"] = "Ventas";
}

<h1>Ventas</h1>

<div id="chart"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.UserName)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
// Data de la base de datos
var data = [
@foreach (var item in Model) {
<text>
    {
        x: '@item.FechaCreacion.ToString("yyyy-MM-dd")',
        y: Math.ceil(@item.PrecioTotal.ToString("0"))
    },
</text>
}
]

console.log('data: ', data)

// Agrupa por fecha y suma
var grupos = {}
data.forEach(item => {
    grupos[item.x] = (grupos[item.x] || 0) + item.y
})

console.log('grupos: ', grupos)

// Transformo los grupos en {x: fecha, y: precioTotal}
var dataTransformado = Object.keys(grupos).map(fecha => {
	return {
        x: fecha, 
        y: grupos[fecha]
    }
})

console.log('dataTransformado', dataTransformado)

var options = {
    chart: {
        height: 350,
        type: 'line',
        zoom: {
            enabled: false
        }
    },
    title: {
        text: 'Ventas por dia',
        align: 'left'
    },
    series: [{
        name: "Total",
        data: dataTransformado
    }],
    dataLabels: {
        enabled: false
    },
    xaxis: {
        type: 'datetime'
    }
}

var chart = new ApexCharts(document.querySelector("#chart"), options);

chart.render();
</script>