@model IEnumerable<BarApp.Models.Pedido>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mesas</h1>
    <p>Control de mesas</p>
    @foreach (var pedido in Model) {
    <div class="card d-inline-block m-2" style="width: 18rem">
        <div class="card-body">
            <h5 class="card-title">
                Mesa @pedido.Mesa
                <span class="badge badge-success">@Html.DisplayFor(model => pedido.PrecioTotal)</span>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
                @Html.DisplayFor(model => pedido.FechaCreacion)
            </h6>
            <p class="card-text">
                @pedido.Cliente <br>
                @pedido.Comentario
            </p>
            <a asp-action="Edit" asp-route-id="@pedido.Id" class="btn btn-secondary">Editar</a>
            <a href="#" class="btn btn-danger">Cerrar</a>
        </div>
    </div>
    }
</div>
